* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

nav {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1.2% 0;
    font-size: 1.6rem;
    font-family: 'Kaushan Script', cursive;
    border-bottom: 7px solid #cccccc;
}

h2 {
    font-size: 1.4rem;
    padding: 2% 2% 0;
    text-decoration: underline;
}

.def {
    font-size: 1.3rem;
    padding: 0 2% 2%;
}

main {
    padding: 2%;
}

section {
    background-color: #e2e2e2;
    padding: 1.5%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 3px solid #000;
    /* box-shadow: 0 0 4px #000; */
}

.group {
    padding: 2%;
    font-family: 'Kaushan Script', cursive;
}

.group p {
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: underline;

}

.group ul>li {
    list-style-type: none;
    font-size: 1.4rem;
}

.group ul>li::before {
    content: 'â– ';
}

.card-1 h3 {
    font-size: 1.3rem;
    text-decoration: underline;
}

.card-1 p,
pre {
    font-size: 1.2rem;
    padding: 1% 0;
}

.last {
    background-color: #000;
    color: #fff;
    padding: 1.5%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 3px solid #000;
    border: 3px dashed #e2e2e2;
}

.project {
    width: 60%;
    margin: auto;
    text-align: center;
}

button {
    display: block;
    margin-top: 1%;
    width: 100%;
    border: none;
    background-color: #e2e2e2;
    padding: 1.1%;
    border-radius: 12px;
    color: #000;
    /* cursor: pointer; */
}

#btn {
    background-color: green;
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
}

#btn:hover {
    background-color: transparent;
    border: 1px solid green;
}

.project h3 {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.project>h3 {
    font-size: 3rem;
    margin-bottom: 2%;
    font-family: 'Kaushan Script', cursive;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family:monospace;
}

a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
}

a:hover::before {
    transform: scaleY(0);
}

a::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
}

a:hover::after {
    transform: scaleX(0);
}

a span {
    position: relative;
    z-index: 3;
}

button {
    background-color: none;
    text-decoration: none;
    background-color: #212121;
    border: none;
}



.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: green;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
.options{
    margin-top: 4%;
}